<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <xacro:macro name="ur_gripper" params="
    parent
    *origin
    ur_type
    joint_limits_parameters_file
    kinematics_parameters_file
    physical_parameters_file
    visual_parameters_file
    ">

    <link name="robot_base"/>
    
    <!-- Table base (dimensions 120x80x20 cm) -->
    <link name="table_base">
      <visual>
        <geometry>
          <box size="1.2 0.8 0.2"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.1"/> <!-- Center of the base -->
        <material name="grey">
          <color rgba="0.7 0.7 0.7 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="1.2 0.8 0.2"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.1"/>
      </collision>
      <inertial> <!-- Add inertial properties -->
        <mass value="50"/>
        <inertia ixx="2.7" ixy="0.0" ixz="0.0" iyy="4.0" iyz="0.0" izz="5.3"/>
      </inertial>
    </link>

    <!-- Joint to connect the table base to the world -->
    <joint name="world_to_table_base" type="fixed">
      <parent link="${parent}"/>
      <child link="table_base"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- Table (dimensions 100x40x72 cm) -->
    <link name="table">
      <visual>
        <geometry>
          <box size="1.0 0.40 0.72"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.36"/> <!-- Center of the table -->
        <material name="brown">
          <color rgba="0.8 0.6 0.4 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="1.0 0.40 0.72"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0 0 0.36"/>
      </collision>
      <inertial> <!-- Add inertial properties -->
        <mass value="20"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.2" iyz="0.0" izz="0.8"/>
      </inertial>
    </link>
    
    <!-- Joint to connect the table to the table base -->
    <joint name="table_base_to_table" type="fixed">
      <parent link="table_base"/>
      <child link="table"/>
      <!-- Position the table on top of the table base -->
      <origin xyz="0.1 0 0.2" rpy="0 0 0"/>
    </joint>
    
    <!-- Important: Connect robot base to the table instead of world -->
    <joint name="table_to_robot_base" type="fixed">
      <parent link="table"/>
      <child link="robot_base"/>
      <!-- Position the robot on top of the table surface -->
      <!-- 0.36 (to table center) + 0.36 (half table height) = 0.72 (to table top) -->
      <origin xyz="-0.3 0.025 0.72" rpy="0 0 3.1419"/>
    </joint>

    <!--This will create the specific robot-->
    <xacro:ur_robot
      name="${ur_type}"
      tf_prefix="${ur_type}_"
      parent="robot_base"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>
    
    <!-- Add a simple gripper -->
    <link name="gripper">
      <visual>
        <origin xyz="0 0 0" rpy="${-pi/2} ${0} ${0}"/>
        <geometry>
          <mesh filename="package://ur_gripper_description/meshes/VacuumGripper.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0 0.05" rpy="${0} ${0} ${0}"/>
        <geometry>
          <box size="0.14 0.14 0.1"/>
        </geometry>
      </collision>
    </link>
    
    <!-- Connect gripper to the robot's end effector -->
    <joint name="tool0_to_gripper" type="fixed">
      <parent link="${ur_type}_tool0"/>
      <child link="gripper"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  </xacro:macro>

</robot>